<div class="container">
  <div class="row">
  	<div class="text-center">
  	  <h1 class="title">BEST</h1>
	  <h2 class="mb-10">あなたが当たり前に使っているものは、<br />
	  誰かにとって新しい世界への鍵かもしれません。</h2>
		<div class="mr-15 block"><%= image_tag "go.jpg", alt: "サンプル画像", class: "img-responsive", size:'350x250' %>
		  <p class="well well-sm lead">BEST_go</p>
		  <div class="arrow_box f-size">
		  	<span class="panel panel-danger">自分が行ってよかったところ</span>
		  	 <p>観光地から隣町の小さなカフェまで<br />
		  	 おすすめスポットを共有します。</p>
		  </div>
		</div>
		<div class="mr-15 block"><%= image_tag "buy.jpg", alt: "サンプル画像", class: "img-responsive", size:'350x250' %>
		  <p class="well well-sm lead">BEST_buy</p>
		  <div class="arrow_box f-size">
		  	<span class="panel panel-info">自分が買ってよかったもの</span>
	  		<p>日常品から贅沢品まで<br />
	  		おすすめのものを共有します。</p>
		  </div>
		</div>
		<div class="block"><%= image_tag "use.jpg", alt: "サンプル画像", class: "img-responsive", size:'350x250' %>
		  <p class="well well-sm lead">BEST_use</p>
		  <div class="arrow_box f-size">
		  	<span class="panel panel-warning">自分が使ってよかったもの</span>
		  	  <p>webサービスやアプリケーションなど<br />
		  	  おすすめを共有します。</p>
		  </div>
		</div>
	</div>
  </div>
</div>